@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
/* Global Variables */
:root {
  /* Colors */
  --primary-background: #013e8e;
  --bright-color: #53be01;
  --text-color: #212121;
  --background-white: #ffffff;

  /* Font */
}

/* Portfolio CSS */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'EB Garamond', serif;
}

a {
  text-decoration: none;
  color: var(--bright-color);
}

/* Navbar start */
.navbar {
  background: var(--primary-background);
  color: var(--background-white);
  position: fixed;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
}

.navbar-container {
  margin: 0 auto;
  width: 1400px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-links ul {
  display: flex;
}
.navbar-links li a {
  color: var(--bright-color);
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0 1rem;
  display: inline;
}
.navbar-links-responsive {
  visibility: hidden;
}

.navbar-links li:hover a,
.navbar-links-responsive li:hover a {
  animation: linkHover 1s linear 1 forwards;
}
.toggle-button {
  position: absolute;
  top: 2.5rem;
  right: 1.5rem;
  transform: translateY(-50%);
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2rem;
}
.bar {
  height: 0.35rem;
  width: 100%;
  background-color: var(--bright-color);
  border-radius: 10px;
}
@media (max-width: 768px) {
  .toggle-button {
    display: flex;
    z-index: 4;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    background: var(--primary-background);
    flex-direction: row;
    align-items: flex-start;
  }
  .navbar-links ul {
    background: var(--primary-background);
    width: 100%;
    height: 5rem;
    flex-direction: row;
  }
  .navbar-links-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 4rem;
    color: var(--background-white);
    background: var(--primary-background);
    width: 100%;
    visibility: hidden;
  }
  .navbar-links-responsive ul {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-links-responsive a {
    color: var(--bright-color);
    font-size: 1.25rem;

    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .visible {
    visibility: visible;
  }
}
/* navbar end */

/* Hero Section Start */
.hero-section {
  min-height: 34rem;
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-background);
}
.hero-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero-text-container {
  margin-left: 0.5rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero-text-container h1 {
  opacity: 0;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--background-white);
  font-size: 3rem;
  letter-spacing: 2px;
  animation: fadeIn 3s linear 1 forwards;
}
.hero-text-container h2 {
  opacity: 0;
  text-align: center;
  letter-spacing: 2px;
  color: var(--background-white);
  font-size: 2.5rem;
  animation: fadeIn 3s linear 4s 1 forwards;
}
.social-media-icons-container {
  opacity: 0;
  animation: fadeIn 3s linear 4s 1 forwards;
  display: flex;
}
.social-icon {
  font-size: 4rem;
  margin: 1rem;
  color: var(--background-white);
}
.social-icon:hover {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}
.social-icon a:hover {
  color: var(--background-white);
  transition: all 1s ease-in-out;
}
.hero-image-container {
  margin-right: 1rem;
  animation: fadeIn 3s linear 2s 1 forwards;
  opacity: 0;
  width: 20rem;
  height: 25rem;
}
.hero-image {
  border: 1px solid rgb(182, 181, 181);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .hero-text-container {
    margin-right: 0.5rem;
  }
  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-section {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-image-container {
    width: 10rem;
    height: 15rem;
  }
  .hero-text-container h1 {
    font-size: 2.5rem;
  }
  .hero-text-container h2 {
    font-size: 2rem;
  }
}
@media (max-width: 470px) {
  .hero-section {
    height: 45rem;
  }
  .hero-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-text-container h1 {
    font-size: 2rem;
    letter-spacing: 1.55px;
  }
  .hero-text-container h2 {
    font-size: 1.5rem;
    letter-spacing: 1.55px;
  }
  .hero-image-container {
    height: 15rem;
    margin-right: 0;
  }
}
/* Hero Section End */

/* About Section Start */
.about-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  margin: 5rem 0;
  height: 100%;
  width: 100%;
  background: var(--background-white);
  display: flex;
}
.about-section-container {
  max-width: 1100px;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  border: 1px solid black;
  background: var(--background-white);
  padding: 1rem 1.5rem;
  max-width: 30rem;
  line-height: 1.75;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-text h2 {
  font-size: 2.5rem;
  color: var(--text-color);
}
.about-text p {
  font-size: 1.25rem;
  color: var(--text-color);
}
.about-skills {
  padding: 1rem 2rem;
  margin-left: -1rem;
  background: var(--primary-background);
  color: var(--background-white);
  text-align: center;
}
.about-skills h2 {
  font-size: 2.5rem;
  letter-spacing: 3px;
}
.about-skills ul li {
  font-size: 1.25rem;
}
.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.skill p {
  margin-right: 0.5rem;
}
@media (max-width: 677px) {
  .about-section-container {
    flex-direction: column;

    justify-content: center;
    align-content: center;
  }
  .about-skills {
    margin: 1rem 0 0 0;
  }
}
@media (max-width: 500px) {
  .about-section {
    width: 100%;
  }
  .about-section-container {
    width: 100%;
  }
  .about-text-container {
    padding: 2rem;
    width: 100%;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .about-text {
    margin-bottom: 1rem;
  }
}
@media (max-width: 480px) {
  .about-text {
    border: none;
  }
}
@media (max-width: 360px) {
  .about-skills {
    width: 80vw;
  }
}
/* About Section End */

/* Projects Section Start */
.projects-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--primary-background);
}
.projects-section-container {
  padding: 5rem 2rem;
  max-width: 1400px;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
}
.project {
  border: 1px solid var(--background-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  height: 20rem;
}
.project-image {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.projects-title {
  display: flex;
  justify-content: center;
  align-content: center;
}
.projects-title h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--background-white);
  letter-spacing: 2px;
}
.projects-container {
  display: grid;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  justify-items: center;
}
.project-information {
  font-size: 1.75rem;
  width: 100%;
  height: 40%;
  color: var(--text-color);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: center;
}
.project-information p {
  margin-bottom: 0.5rem;
}
.projects-information .links-container a {
  font-size: 1.5rem;
}

.project a:hover {
  cursor: pointer;
  animation: linkHoverProject 1s linear 1 forwards;
}
@media (max-width: 1200px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }
  .project {
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 768px) {
  .projects-section {
    height: 100%;
    margin-top: 5rem;
  }
  .projects-container {
    grid-template-columns: 1fr;
  }
  .project {
    width: 80vw;
  }
}

@media (max-width: 425px) {
  .projects-section-container {
    padding-top: 2rem;
  }
  .projects-section-container {
    width: 100%;
    margin: 0 auto;
  }
  .projects-section {
    margin-top: 0;
    padding-top: 5rem;
    background: var(--primary-background);
  }
  .projects-container {
    justify-content: center;
    align-content: center;
  }
  .project {
    position: relative;
  }
  .project .project-image {
    width: 100%;
    height: 80%;
  }
  .project .project-information {
    position: absolute;
    display: block;
    width: 100%;
    height: 30%;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
    background: var(--background-white);
    color: var(--text-color);
    opacity: 1;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    display: flex;
  }
  .project .project-information p {
    margin: 0;
  }
  .project .links-container a:hover {
    animation: linkHoverProject 1s linear 1 forwards;
  }
}
/* Projects Section End */

/* Contact Start */
.contact {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  margin: 5rem auto;
  background: var(--background-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-container {
  margin: 3rem 1rem;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  background: var(--background-white);
  border: 2px solid rgb(116, 116, 116);
}
.contact-header {
  padding: 1rem 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-header h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.contact-header p {
  font-size: 1.25rem;
  text-align: center;
}
.contact-information-container {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact-information-container .social-icons {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.contact-information-container .social-icons a {
  color: var(--text-color);
}
.contact-information-container .social-icons a:hover {
  animation: linkHoverContact 1s linear 1 forwards;
}
@media (max-width: 776px) {
  .contact-container {
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .contact-container {
    width: 80vw;
    border: none;
  }
  .contact-header {
    width: 80vw;
  }
}
/* Contact End */

/* Footer Start */
#footer {
  width: 100%;
  background: var(--primary-background);
  padding: 2rem;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text {
  text-align: center;
  color: var(--background-white);
  letter-spacing: 1.55px;
}
/* Footer End */

/* Animations Start */
@keyframes linkHoverContact {
  0% {
    color: var(--text-color);
  }
  100% {
    color: var(--bright-color);
  }
}
@keyframes linkHover {
  0% {
    color: var(--bright-color);
  }
  100% {
    color: var(--background-white);
  }
}

@keyframes linkHoverProject {
  0% {
    color: var(--bright-color);
  }
  100% {
    color: var(--text-color);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Animations End */
